/* login */

.login-form {
    width: 100%;
    max-width: 500px;
    margin: 65px auto;
    background-color: #212121;
}

.signup-form input {
    margin-left: 5%;
    margin-top: 5%;
    width: 70%;
    height: 40px;
    padding: 0px 5%;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
}

#remember {
    margin-top: 2%;
    width: 10%;
    height: 20px;
}

#remembertext {
    color: #e2e2e2;
}

.signup-form button {
    margin-left: 5%;
    margin-top: 6%;
    height: 2.5rem;
    width: 50%;
    background-color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
    color: #e2e2e2;
    cursor: pointer;
}

.notmember p {
    color: #e2e2e2;
    margin-left: 5%;
}

.referent{
    margin-left: 20px;
    color: #e2e2e2;
    font-weight: bold;
}

/* login// */

/* registration */

.register-form {
    width: 100%;
    max-width: 500px;
    margin: 5px auto;
}

.register-form input[type=number] {
    height: 40px;
    padding: 0px 5%;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 2.5%;
}

.register-form input[type=checkbox] {
    position: absolute;
    opacity: 0;
}


input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

/* registration// */

/* parameters */

.check-form {
    width: 100%;
    max-width: 500px;
    margin: 5px auto;
}

.check-form input[type=number] {
    height: 40px;
    padding: 0px 5%;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 2.5%;
}

.check-form input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.back {
    float: left;
    height: 50px;
    width: 50px;
    font-size: 50px;
    text-align: center;
    border: 2px solid #212121;
    margin-top: -2%;
}

.continue {
    float: right;
    height: 50px;
    width: 50px;
    font-size: 50px;
    text-align: center;
    border: 2px solid #212121;
    margin-top: -2%;
}

.submit {
    float: right;
    height: 5rem;
    width: 100%;
    margin-top: -6%;
    margin-right: -45%;
}

.panel {
    background: #212121;
}

.panel .panel-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #212121;
    background-color: #e2e2e2;
}

.page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-heading h3{
    color: #e2e2e2;
}

.btn-group {
    width: 90%;
    margin: 0 auto 10px auto;
}

#p1, #p2, #p3, #p4 {
    z-index: 2;
    display: block;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#p2, #p3, #p4 {
    opacity: 0;
    margin-top: 5%;
    height: 0;
    overflow: hidden;
}

#step2:checked ~ #p2 {
    opacity: 1;
    height: auto;
}

#step2:checked ~ #p1 {
    opacity: 0;
    display: none;
}

#step3:checked ~ #p3 {
    opacity: 1;
    height: auto;
}

#step3:checked ~ #p2 {
    opacity: 0;
    display: none;
}

#step4:checked ~ #p4 {
    opacity: 1;
    height: auto;
}

#step4:checked ~ #p3 {
    opacity: 0;
    display: none;
}

/* parameters// */
