.register-form {
    width: 100%;
    max-width: 500px;
    margin: 150px auto;
}

.register-form input[type=number] {
    height: 40px;
    padding: 0px 5%;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
    width: 40%;
    margin-left: 5%;
    margin-bottom: 2.5%;
}

.register-form input[type=checkbox] {
    position: absolute;
    opacity: 0;
}


input[type="date"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

#error {
    border: 2px solid #EA4335;
}

.error-label {
    margin-left: 5%;
    color: #EA4335;
    font-size: 20px;
}

#success {
    font-size: 20px;
    line-height: 25px;
    background-color: #405d27;
}

#again-button {
    font-size: 20px;
    line-height: 25px;
    margin-left: 5%;
    margin-top: 2%;
    max-width: 350px;
    color: #e2e2e2;
    text-decoration: none;
    cursor: pointer;
}