body {
    background-color: #212121;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
/* navigation */
.welcome {
    margin: -50px auto 0;
    margin-left: 2.5%;
    color: #e2e2e2;
    font-size: 32px;
}
nav {
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    width: 25%;
    height: 370px;
    margin-top: 10%;
    margin-left: 5%;
}

li:hover {
    letter-spacing: 0.7em;
    background-color: #262626;
}

.nav_button {
    position: relative;
    color: #e2e2e2;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

li {
    margin-top: 7%;
    height: 2.5rem;
    width: 60%;
    background-color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    cursor: pointer;
}

a, ul{
    text-decoration: none;
    list-style-type: none;
}
/* navigation// */

/* login */

.login-form {
    position: relative;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    max-width: 25%;
    height: 370px;
    margin: -370px auto 0;
    margin-left: 55%;
}

.signup-form input {
    margin-left: 5%;
    margin-top: 5%;
    width: 70%;
    height: 40px;
    padding: 0px 5%;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
}

#remember{
    margin-top: 2%;
    width: 10%;
    height: 20px;
}

#remembertext{
    color: #e2e2e2;
}

.signup-form button {
    margin-left: 5%;
    margin-top: 6%;
    height: 2.5rem;
    width: 60%;
    background-color: #1a1a1a;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    transition: all 0.2s cubic-bezier(.4,0,.2,1);
    color: #e2e2e2;
    cursor: pointer;
}

.notmember p{
    color: #e2e2e2;
    margin-left: 5%;
}

/* login// */

/* registration */

input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

#error{
    border: 3px solid #EA4335;
    animation: fadeinerror 1s;
}

#error-label{
    color: #EA4335;
    margin-left: 25%;
    animation: fadeinerrorlabel 0.7s;
}

#success {
    background-color: #405d27;
    animation: fadeinsuccess 0.7s;
}
@keyframes fadeinsuccess {
   from{background-color: #1a1a1a;}
    to{background-color: #405d27;}
}

@keyframes fadeinerror {
    from{border: 3px solid #ccc;}
    to{border: 3px solid #EA4335;}
}

@keyframes fadeinerrorlabel {
    from{opacity: 0%;}
    to{opacity: 100%;}
}
/* registration// */

/* check */

.check-form {
    position: absolute;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    max-width: 70%;
    width: 40%;
    height: 370px;
    margin: -500px auto 0;
    margin-left: 45%;
}

.check-form input{
    margin-left: 2%;
    margin-top: 5%;
    width: 15%;
    height: 30px;
    padding: 0px 5%;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 40px;
}

#check-label{
    color: #e2e2e2;
    margin: 10px 5%;
    top: 10%;
    font-size: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* check// */