body {
    background-color: #e2e2e2;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* navigation */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: #e2e2e2;
}


.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    color: #e2e2e2;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #111;
}

/* navigation */
