.results-table {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -250px;
    width: 100%;
    max-width: 500px;
}

table{
    background: #212121;
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
    max-width: 1000px;
    width: 100%;
    max-height: 1500px;
    table-layout: fixed;
}

.col-name{
    color: #e2e2e2;
    background: #1a1a1a;
    border-bottom: 1px solid #e2e2e2;
    padding: 20px;
    text-align:left;
}

.col-name:first-child{
    width: 15px;
}

.col-name:last-child{
    width: 50px;
}

.col-name:nth-child(2){
    width: 100px;
}

.col-name1{
    color: #e2e2e2;
    background: #1a1a1a;
    border-bottom: 1px solid #e2e2e2;
    padding: 20px;
    text-align:left;
}


.row {
    border-bottom: 1px solid #e2e2e2;
    color:#e2e2e2;
    padding: 20px;
    height: 50px;
    font-size: 20px;
}

#pos {
    background-color: #405d27;
    border-bottom: 1px solid #e2e2e2;
    color:#e2e2e2;
    padding: 20px;
    height: 50px;
}

#neg {
    background-color: #c94c4c;
    border-bottom: 1px solid #e2e2e2;
    color:#e2e2e2;
    padding: 20px;
    height: 50px;
}

td:first-child{
   text-align: center;
}

.header{
    background-color: #212121;
    color: #e2e2e2;
    padding: 18px;
    width: 60%;
    text-align: left;
    outline: none;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.content {
    width: 60%;
    padding: 0 18px;
    overflow: hidden;
    background-color: #cccccc;
    display: block;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}