#error {
    border: 2px solid #EA4335;
}

.error-label {
    margin-left: 5%;
    color: #EA4335;
    font-size: 20px;
}

#success {
    font-size: 20px;
    line-height: 25px;
    background-color: #405d27;
}

#pos {
    background-color: #c94c4c;
    border-bottom: 1px solid #e2e2e2;
    color: #e2e2e2;
    padding: 20px;
    height: 50px;
}

#halfsure {
    background-color: #b38600;
    border-bottom: 1px solid #e2e2e2;
    color: #e2e2e2;
    padding: 20px;
    height: 50px;
}

#neg {
    background-color: #405d27;
    border-bottom: 1px solid #e2e2e2;
    color: #e2e2e2;
    padding: 20px;
    height: 50px;
}